.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border-style: solid;
    border-width: 1px;
    height: 960px;
    width: 960px;
}

.utilities {
    display: flex;
    justify-content: space-between;
    width: 500px;
}